{
    "WIFI_SSID": "my-ap",
    "WIFI_PWD": "secret",
    "MQTT_BROKER_IP": "192.168.1.10",
    "MQTT_BROKER_PORT": "1883",
    "MQTT_BROKER_USER": "mosquitto",
    "MQTT_BROKER_PWD": "secret",
    "MQTT_TOPIC_BASE": "valves-manipulator"
}